@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap");

:root {
  --cyan: hsl(179, 62%, 43%);
  --bright-yellow: hsl(71, 73%, 54%);
  --light-gray: hsl(204, 43%, 93%);
  --grayish-blue: hsl(218, 22%, 67%);
  --another-green: hsl(179, 47%, 52%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

#root,
#__next {
  isolation: isolate;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
  font-size: 16px;
}

body {
  -webkit-font-smoothing: antialiased;
  font-family: "Karla", sans-serif;
  line-height: 1.5;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

button {
  padding: 0;
  border: 0;
  display: block;
  width: 100%;
  height: 4.375rem;
  margin-top: 2.5rem;
  border-radius: 0.625rem;
  background-color: var(--bright-yellow);
  color: hsl(0, 0%, 100%);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  font-weight: 400;
  font-size: 1.375rem;
  cursor: pointer;
  transition: 0.3s;
  position: relative;
}

button:hover {
  background-color: hsla(71, 73%, 54%, 0.795);
}

button:active {
  top: 2px;
}

h2 {
  font-size: 1.75rem;
  color: hsl(0, 0%, 100%);
  margin: 3.125rem 0 0.625rem;
}

li {
  font-size: 1.25rem;
  color: hsl(0, 0%, 100%);
}

main {
  margin: auto;
}

ul {
  list-style-type: none;
  padding: 0;
  margin-top: 1.25rem;
}

.attribution {
  font-size: 0.6875rem;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

.col-left {
  width: 50%;
  background-color: var(--cyan);
  padding: 0 4.375rem 4.375rem;
  border-bottom-left-radius: 10px;
}

.col-left p {
  font-size: 1.5rem;
  color: var(--light-gray);
  font-weight: 400;
}

.col-right {
  width: 50%;
  padding: 0 4.375rem 4.375rem;
  border-bottom-right-radius: 0.625rem;
  background-color: var(--another-green);
}

.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 0.3125rem;
  background-color: var(--light-gray);
}

.content-grid {
  width: 62.1875rem;
  height: 46.25rem;
  background-color: white;
  display: flex;
  flex-direction: column;
  border-radius: 0.625rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.first-row {
  padding: 4.6875rem 4.375rem 0;
}

.first-row p:nth-child(2) {
  color: var(--bright-yellow);
  font-size: 1.75rem;
  margin-bottom: 0.9375rem;
}

.first-row p:nth-child(3) {
  color: var(--grayish-blue);
  font-size: 1.5rem;
  margin-bottom: 3.4375rem;
}

.heading {
  font-size: 2.25rem;
  color: var(--cyan);
  margin-bottom: 2.1875rem;
}

.price {
  font-size: 3rem;
  font-weight: 700;
  color: hsl(0, 0%, 100%);
}

.price-container {
  display: flex;
  align-items: center;
}

.price-container p {
  color: hsl(0, 0%, 100%);
  font-size: 1.375rem;
  font-weight: 400;
  padding-left: 0.9375rem;
}

.second-row {
  display: flex;
  flex: auto;
  border-radius: inherit;
}

@media (max-width: 576px) {
  html {
    font-size: 10px;
  }

  h2 {
    margin: 2.125rem 0 0.625rem;
  }

  .attribution {
    font-size: 0.9875rem;
    text-align: center;
  }

  .content-grid {
    width: 32rem;
    height: auto;
    background-color: whitesmoke;
  }

  .col-left,
  .col-right {
    width: 100%;
    border-radius: 0;
    padding: 0 1.7rem 1.7rem;
  }

  .col-right {
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
  }

  .first-row {
    padding: 2.3875rem 1.7rem 0;
  }

  .second-row {
    flex-direction: column;
  }
}
